{% extends 'base.html' %}
{% block title  %}Category{% endblock %}

{% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'home/categorystyle.css' %}">
    <h1 align="center">Checkout some Photos of {{catObject}}</h1>
    <div class="sidebar">
      <h3>More Categories</h3>
      {% for cate in cat %}
        <a href="/categories/{{cate.id}}" class="sideLink">{{ cate }}</a><br>
      {% endfor %}
    </div>
    <div id="line">

    </div>
    <div class="containerCat">
      {% for photo in catPics %}
        <a href="/details/{{ photo.id }}" class="boxCat"><img src="{{ photo.display_pic.url }}" alt="Image not found"></a>
      {% endfor %}
    </div>

{% endblock %}