{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'PicMesh/password_reset.css' %}" />
  <h1 align="center">Forgot your password?</h1>
  <p align="center">Enter your email address below, and we'll email instructions for setting a new one.</p>

  <form method="POST" align="center">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send me instructions!">
  </form>

{% endblock %}